<head class="home-header">
  <a routerLink="/" class="home-header-home-link">
    <img ngSrc="/assets/trello-logo-white.svg" alt="logo" height="272" width="885" />
  </a>
  <div>
    <a routerLink="/login" class="home-header-login">Login</a>
    <a routerLink="/register" class="home-header-register">Register</a>
  </div>
</head>

<div class="home-hero">
  <div class="home-container">
    <div>
      <h1 class="home-title">
        Trello helps team work more collaboratively and get more done.
      </h1>
      <p class="home-description">
        Trello's boards, lists, and cards enable teams to organize and prioritize in a fun, flexible, and rewarding way.
      </p>
    </div>
    <div>
      <img ngSrc="/assets/hero.svg" alt="hero" height="441" width="582"/>
    </div>
  </div>
</div>

<div class="home-team">
  <div class="home-container team-container">
    <div>
      <h1 class="home-title">Work with any team</h1>
      <p class="home-description">
        Whether it's for work, a side project or even the next family vocation,
        Trello helps your team stay organized.
      </p>
    </div>
    <div>
      <img src="/assets/work-with-any-team.png" alt="work with any team" class="team-image" />
    </div>
  </div>
</div>

<div class="home-information">
  <div class="home-container information-container">
    <div>
      <img src="/assets/information.svg" alt="information" />
    </div>
    <div>
      <h1 class="home-title">Information at a glance</h1>
      <p class="home-description">
        Dive into the details by adding comments, attachments, due dates, and
        more directly to Trello cards. Collaborate on projects from beginning to
        end.
      </p>
    </div>
  </div>
</div>

<div class="home-workflow">
  <div class="home-container workflow-container">
    <div class="workflow-left-part">
      <h1 class="home-title">Built-In Workflow Automation With Butler</h1>
      <p class="home-description">
        Let the robots do the work! Boost productivity by unleashing the power
        of automation across your entire team with Butler, and remove tedious
        tasks from your to-do lists with:
      </p>
      <ul>
        <li>Rule-Based Triggers</li>
        <li>Custom Cards & Boards Buttons</li>
        <li>Calendar commands</li>
        <li>Due Date commands</li>
      </ul>
    </div>

    <div>
      <img src="/assets/workflow.png" alt="workflow" class="workflow-image" />
    </div>
  </div>
</div>
